<!-- views/binView.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RekwestBïn</title>
    <link rel="stylesheet" href="../styles.css">
  </head>
  <body>
    <h1>Your endpoint is: https://{our domain goes here}/<%= binId %>/receiver</h1>
    <ul>
      <% requests.forEach(request => { %>
      <li>
        <p>
          <strong>Date:</strong> <%= new
          Date(request._id.getTimestamp()).toLocaleString() %>
        </p>
        <p><strong>Payload:</strong> <%= JSON.stringify(request.payload) %></p>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
